/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');

html, body, [class*="css"] {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #0f172a;
}

.stApp {
    background-color: #0f172a;
}

/* Container Visualizer */
.animation-wrapper {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    row-gap: 30px; 
    padding: 30px;
    background: #1e293b;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #080c16;
    margin: 20px 0;
    max-width: 100%;
}

/* Animasi Muncul */
@keyframes dropIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.node {
    animation: dropIn 0.5s ease-out forwards;
    text-align: center;
    min-width: 60px;
}

.circle-glow {
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 18px;
    color: white;
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto;
}

.arrow-icon {
    font-size: 20px;
    color: #3b82f6;
    padding-bottom: 20px;
}

/* style.css tambahan */
.stDataFrame {
    border: 1px solid #3b82f6;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(30, 41, 59, 0.5);
}